CompileFlags:
  Remove: [-mno-direct-extern-access, -f*]
  Add:
    - -std=c++26
    - -D__clangd__=1
Style:
  FallbackStyle: file
# Diagnostics:
#   Suppress: ["unknown_argument", "expected_expression","typename_requires_specqual"]
